@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    z-index: 100;
}
header h1 {
    font-size: 40px;
    color: white;
}
header nav {
    display: flex;
    gap: 30px;
}
header nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.3s;
    color: white;
}
header nav a.active {
    background: #5247B9;
}
header nav a:hover {
    background: #5247B9;
}
header nav:hover > a:not(:hover) {
    background: none;
}

.home {
    display: flex;
    height: 100dvh;
    background: linear-gradient(to top, #D2E2FB 30%, #86A8DB);
    position: relative;
    overflow: hidden;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.home .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.about {
    padding: 50px;
    background: #3B3291;
    color: white;
    position: relative;
    z-index: 100;
}
.about h1 {
    font-size: 40px;
}


    /* Define the initial opacity for the checkbox */
    .form-check-input {
        opacity: 1;
    }
    
    /* Define the animation for fading out */
    @keyframes fadeOut {
        from { opacity: 1; }
        to { opacity: 0; }
    }
    
    /* Apply the fadeOut animation to the checkbox */
    .fade-out {
        animation: fadeOut 1s ease-in-out forwards;
    }
    

    
/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    opacity:0.8;
    margin: 15% auto;
    padding: 20px;
    border: 5px solid #888;
    width: 70%; /* Adjust the width as needed */
    max-width: 500px; /* Limit the maximum width */
}

/* Close button */
.close {
    color: black;
    font-size: 28px;

    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2px;
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
